/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, h3, h4, p,
figure, blockquote, dl, dd {
  margin-block-end: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input, button,
textarea, select {
  font: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(30, 38%, 92%);
}



.component_container{
    display:flex;
    justify-content: center;
    flex-direction: row-reverse;
    max-width: 30rem;
    border: 4px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

.component_text_side{
  background-color: hsl(0, 0%, 100%);
  padding:1.4em;
  margin: 0;
}
.component_ribbon_text{
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  letter-spacing: 5px;
  font-size: 0.8rem;
}


h2{
  color: hsl(212, 21%, 14%);
  font-size: 1.8rem;
  font-family: 'Fraunces', serif;;
}


p{
  color: hsl(228, 12%, 48%)
}

.component_prices_span{
  color: hsl(158, 36%, 37%);
  font-size: 1.5rem;
  font-family: 'Fraunces', serif;
  padding: 0.5em 0 ;
  margin:0.5em;

}
button{
  background-color:  hsl(158, 36%, 37%);
  color: hsl(0, 0%, 100%);
  border-radius: 10px;
  display:block;
  padding: 0.5em 4em 0.5em 4em;
  border: 1px solid black;
}

.shopping_Cart_Icon{
  display:inline;

}


picture,img{
  object-fit: cover;
  height: 100%;

}


footer{
  font-size: 2rem;
  margin: 16px auto;
}
